.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #000, #000 66%, #fff 100%);
  /*border: 20px solid rgb(128,128,128);*/
}
.ball:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  /*background: radial-gradient(rgb(128,128,128), rgba(128, 128, 128, 0.8) 14%, rgb(0, 0, 0) 24%);*/
  background-color: rgb(128,128,128);
  z-index: -1;
}

.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 50%;
  /*background: radial-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.8));*/
  /*background: radial-gradient(#752201, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.8));*/
  background: radial-gradient(circle, rgba(255,0,0,1) 50%, rgba(128, 128, 128, 0.1));
  position: absolute;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  top: 40%;
  left: 40%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  /*background: rgba(255, 255, 255, 0.2);*/
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);*/
  z-index: -1;
}
.container {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
}
body {
  /*width: 300px;
  margin: 20px auto;
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;*/
}
